{% extends 'base.html' %}

{% block header %}
{% endblock %}
{% block footer %}
{% endblock %}

{% block content %}




<section class="page__section has-background-color-zack">
<h2><code>.flow</code></h2>

<h3><code>[class*="flow__box--2"]</code></h3>
<div class="flow">
  <div class="flow__box--2-1"><code>.flow__box--2-1</code></div>
  <div class="flow__box--2-1"><code>.flow__box--2-1</code></div>
</div>
<div class="flow">
  <div class="flow__box--2-1 shift-1--"><code>.flow__box--2-1.shift-1--</code></div>
</div>




<h3><code>[class*="flow__box--3"]</code></h3>
<div class="flow">
  <div class="flow__box--3-1"><code>.flow__box--3-1</code></div>
  <div class="flow__box--3-1"><code>.flow__box--3-1</code></div>
  <div class="flow__box--3-1"><code>.flow__box--3-1</code></div>
</div>
<div class="flow">
  <div class="flow__box--3-1"><code>.flow__box--3-1</code></div>
  <div class="flow__box--3-2"><code>.flow__box--3-2</code></div>
</div>
<div class="flow">
  <div class="flow__box--3-1"><code>.flow__box--3-1</code></div>
  <div class="flow__box--3-1 shift-1--"><code>.flow__box--3-1.shift-1--</code></div>
</div>
 <div class="flow">
  <div class="flow__box--3-1 shift-1--"><code>.flow__box--3-1.shift-1--</code></div>
  <div class="flow__box--3-1"><code>.flow__box--3-1</code></div>
</div>

<div class="flow">
  <div class="flow__box--3-2 shift-1--"><code>.flow__box--3-2.shift-1--</code></div>
</div>
<div class="flow">
  <div class="flow__box--3-1 shift-2--"><code>.flow__box--3-1.shift-2--</code></div>
</div>





<h3><code>[class*="flow__box--4"]</code></h3>
<div class="flow">
  <div class="flow__box--4-1"><code>.flow__box--4-1</code></div>
  <div class="flow__box--4-1"><code>.flow__box--4-1</code></div>
  <div class="flow__box--4-1"><code>.flow__box--4-1</code></div>
  <div class="flow__box--4-1"><code>.flow__box--4-1</code></div>
</div>

<div class="flow">
  <div class="flow__box--4-1"><code>.flow__box--4-1</code></div>
  <div class="flow__box--4-1"><code>.flow__box--4-1</code></div>
  <div class="flow__box--4-2"><code>.flow__box--4-2</code></div>
</div> 
<div class="flow">
  <div class="flow__box--4-1"><code>.flow__box--4-1</code></div>
  <div class="flow__box--4-3"><code>.flow__box--4-3</code></div>
</div> 

<div class="flow">
  <div class="flow__box--4-1 shift-1--"><code>.flow__box--4-1.shift-1--</code></div>
  <div class="flow__box--4-1 shift-1--"><code>.flow__box--4-1.shift-1--</code></div>
</div> 

<div class="flow">
  <div class="flow__box--4-1 shift-1--"><code>.flow__box--4-1.shift-1--</code></div>
  <div class="flow__box--4-1"><code>.flow__box--4-1</code></div>
</div> 


<div class="flow">
  <div class="flow__box--4-1 shift-1--"><code>.flow__box--4-1.shift-1--</code></div>
  <div class="flow__box--4-1"><code>.flow__box--4-1</code></div>
  <div class="flow__box--4-1"><code>.flow__box--4-1</code></div>
</div> 

<div class="flow">
  <div class="flow__box--4-3 shift-1--"><code>.flow__box--4-3.shift-1--</code></div>
</div> 
<div class="flow">
  <div class="flow__box--4-1"><code>.flow__box--4-1</code></div>
  <div class="flow__box--4-1 shift-2--"><code>.flow__box--4-1. shift-1--</code></div>
</div> 
<div class="flow">
  <div class="flow__box--4-1 shift-3--"><code>.flow__box--4-1.shift-3--</code></div>
</div> 


<div class="flow">
  <div class="flow__box--4-1 shift-2--"><code>.flow__box--4-1.shift-2--</code></div>
  <div class="flow__box--4-1"><code>.flow__box--4-1</code></div>
</div> 

  
  
  
  

<h3><code>[class*="flow__box--5"]</code></h3>

<div class="flow">
  <div class="flow__box--5-1"><code>.flow__box--5-1</code></div>
  <div class="flow__box--5-1"><code>.flow__box--5-1</code></div>
  <div class="flow__box--5-1"><code>.flow__box--5-1</code></div>
  <div class="flow__box--5-1"><code>.flow__box--5-1</code></div>
  <div class="flow__box--5-1"><code>.flow__box--5-1</code></div>
</div>
  
  
  

<h3><code>[class*="flow__box--6"]</code></h3>
<div class="flow">
  <div class="flow__box--6-1"><code>.flow__box--6-1</code></div>
  <div class="flow__box--6-1"><code>.flow__box--6-1</code></div>
  <div class="flow__box--6-1"><code>.flow__box--6-1</code></div>
  <div class="flow__box--6-1"><code>.flow__box--6-1</code></div>
  <div class="flow__box--6-1"><code>.flow__box--6-1</code></div>
  <div class="flow__box--6-1"><code>.flow__box--6-1</code></div>
</div>
<div class="flow">
  <div class="flow__box--6-3 shift-1--"><code>.flow__box--6-3.shift-1--</code></div>
  <div class="flow__box--6-1 shift-1--"><code>.flow__box--6-1.shift-1--</code></div>
</div>


<div class="flow">
  <div class="flow__box--6-2 shift-2--"><code>.flow__box--6-2.shift-2--</code></div>
  <div class="flow__box--6-2"><code>.flow__box--6-2</code></div>
</div> 


  
  
  

<h3><code>[class*="flow__box--7"]</code></h3>
<div class="flow">
  <div class="flow__box--7-1"><code>.flow__box--7-1</code></div>
  <div class="flow__box--7-1"><code>.flow__box--7-1</code></div>
  <div class="flow__box--7-1"><code>.flow__box--7-1</code></div>
  <div class="flow__box--7-1"><code>.flow__box--7-1</code></div>
  <div class="flow__box--7-1"><code>.flow__box--7-1</code></div>
  <div class="flow__box--7-1"><code>.flow__box--7-1</code></div>
  <div class="flow__box--7-1"><code>.flow__box--7-1</code></div>
</div>

  
  
  

<h3><code>[class*="flow__box--8"]</code></h3>
<div class="flow">
  <div class="flow__box--8-1"><code>.flow__box--8-1</code></div>
  <div class="flow__box--8-1"><code>.flow__box--8-1</code></div>
  <div class="flow__box--8-1"><code>.flow__box--8-1</code></div>
  <div class="flow__box--8-1"><code>.flow__box--8-1</code></div>
  <div class="flow__box--8-1"><code>.flow__box--8-1</code></div>
  <div class="flow__box--8-1"><code>.flow__box--8-1</code></div>
  <div class="flow__box--8-1"><code>.flow__box--8-1</code></div>
  <div class="flow__box--8-1"><code>.flow__box--8-1</code></div>
</div>

  
  
  
  
<h3><code>[class*="flow__box--9"]</code></h3>

<div class="flow">
  <div class="flow__box--9-1"><code>.flow__box--9-1</code></div>
  <div class="flow__box--9-1"><code>.flow__box--9-1</code></div>
  <div class="flow__box--9-1"><code>.flow__box--9-1</code></div>
  <div class="flow__box--9-1"><code>.flow__box--9-1</code></div>
  <div class="flow__box--9-1"><code>.flow__box--9-1</code></div>
  <div class="flow__box--9-1"><code>.flow__box--9-1</code></div>
  <div class="flow__box--9-1"><code>.flow__box--9-1</code></div>
  <div class="flow__box--9-1"><code>.flow__box--9-1</code></div>
  <div class="flow__box--9-1"><code>.flow__box--9-1</code></div>
</div>

  
  
  
<h3><code>[class*="flow__box--10"]</code></h3>

<div class="flow">
  <div class="flow__box--10-1"><code>.flow__box--10-1</code></div>
  <div class="flow__box--10-1"><code>.flow__box--10-1</code></div>
  <div class="flow__box--10-1"><code>.flow__box--10-1</code></div>
  <div class="flow__box--10-1"><code>.flow__box--10-1</code></div>
  <div class="flow__box--10-1"><code>.flow__box--10-1</code></div>
  <div class="flow__box--10-1"><code>.flow__box--10-1</code></div>
  <div class="flow__box--10-1"><code>.flow__box--10-1</code></div>
  <div class="flow__box--10-1"><code>.flow__box--10-1</code></div>
  <div class="flow__box--10-1"><code>.flow__box--10-1</code></div>
  <div class="flow__box--10-1"><code>.flow__box--10-1</code></div>
</div>

  
  
  
  
<h3><code>[class*="flow__box--11"]</code></h3>

<div class="flow">
  <div class="flow__box--11-1"><code>.flow__box--11-1</code></div>
  <div class="flow__box--11-1"><code>.flow__box--11-1</code></div>
  <div class="flow__box--11-1"><code>.flow__box--11-1</code></div>
  <div class="flow__box--11-1"><code>.flow__box--11-1</code></div>
  <div class="flow__box--11-1"><code>.flow__box--11-1</code></div>
  <div class="flow__box--11-1"><code>.flow__box--11-1</code></div>
  <div class="flow__box--11-1"><code>.flow__box--11-1</code></div>
  <div class="flow__box--11-1"><code>.flow__box--11-1</code></div>
  <div class="flow__box--11-1"><code>.flow__box--11-1</code></div>
  <div class="flow__box--11-1"><code>.flow__box--11-1</code></div>
  <div class="flow__box--11-1"><code>.flow__box--11-1</code></div>
</div>

  
  
  
  

<h3><code>[class*="flow__box--12"]</code></h3>
<div class="flow">
  <div class="flow__box--12-1"><code>.flow__box--12-1</code></div>
  <div class="flow__box--12-1"><code>.flow__box--12-1</code></div>
  <div class="flow__box--12-1"><code>.flow__box--12-1</code></div>
  <div class="flow__box--12-1"><code>.flow__box--12-1</code></div>
  <div class="flow__box--12-1"><code>.flow__box--12-1</code></div>
  <div class="flow__box--12-1"><code>.flow__box--12-1</code></div>
  <div class="flow__box--12-1"><code>.flow__box--12-1</code></div>
  <div class="flow__box--12-1"><code>.flow__box--12-1</code></div>
  <div class="flow__box--12-1"><code>.flow__box--12-1</code></div>
  <div class="flow__box--12-1"><code>.flow__box--12-1</code></div>
  <div class="flow__box--12-1"><code>.flow__box--12-1</code></div>
  <div class="flow__box--12-1"><code>.flow__box--12-1</code></div>
</div>
<div class="flow">
  <div class="flow__box--12-1"><code>.flow__box--12-1</code></div>
  <div class="flow__box--12-2"><code>.flow__box--12-2</code></div>
  <div class="flow__box--12-3"><code>.flow__box--12-3</code></div>
  <div class="flow__box--12-4"><code>.flow__box--12-4</code></div>
  <div class="flow__box--12-2"><code>.flow__box--12-2</code></div>
</div>
<div class="flow">
  <div class="flow__box--12-1 shift-1--"><code>.flow__box--12-1.shift-1--</code></div>
  <div class="flow__box--12-2 shift-1--"><code>.flow__box--12-2.shift-1--</code></div>
  <div class="flow__box--12-3 shift-1--"><code>.flow__box--12-3.shift-1--</code></div>
  <div class="flow__box--12-2 shift-1--"><code>.flow__box--12-2.shift-1--</code></div>
</div>

<div class="flow">
  <div class="flow__box--12-3 shift-1--"><code>.flow__box--12-3.shift-1--</code></div>
  <div class="flow__box--12-6 shift-2--"><code>.flow__box--12-6.shift-2--</code></div>
</div>




</section>

<section class="page__section alt-- has-background-color-gray">

<h2><code>.flow--reverse</code></h2>


<h3><code>[class*="flow__box"]</code></h3>


 
<div class="flow--reverse">
  <div class="flow__box--4-3"><code>.flow--reverse > div:nth-child(1), .flow__box--4-3</code></div>
  <div class="flow__box--4-1"><code>.flow--reverse > div:nth-child(2), .flow__box--4-1</code></div>
</div>

<div class="flow--reverse">
  <div class="flow__box--2-1"><code>.flow--reverse > div:nth-child(1), .flow__box--2-1</code></div>
  <div class="flow__box--2-1"><code>.flow--reverse > div:nth-child(2), .flow__box--2-1</code></div>
</div>
<div class="flow--reverse">
  <div class="flow__box--4-1 pull-1--"><code>.flow__box--4-1.pull-1--</code></div>
  <div class="flow__box--4-1"><code>.flow__box--4-1</code></div> 
</div>  

  

</section>

<section class="page__section">

<h2><code>.flow--flex</code></h2>

<h3><code>.flow__box</code></h3>

<div class="flow--flex">
  <div class="flow__box"><code>.flow__box</code></div>
  <div class="flow__box"><code>.flow__box</code></div>
  <div class="flow__box"><code>.flow__box</code></div>
  <div class="flow__box"><code>.flow__box</code></div>
  <div class="flow__box"><code>.flow__box</code></div>
</div>  


<h3><code>[class*="flow__box--"]</code></h3>

<div class="flow--flex">
  <div class="flow__box--12-1"><code>.flow__box--12-1</code></div>
  <div class="flow__box--12-2"><code>.flow__box--12-2</code></div>
  <div class="flow__box--12-3"><code>.flow__box--12-3</code></div>
  <div class="flow__box--12-4"><code>.flow__box--12-4</code></div>
  <div class="flow__box--12-2"><code>.flow__box--12-2</code></div>
</div>

<div class="flow--flex">
  <div class="flow__box--4-1"><code>.flow__box--4-1</code></div>
  <div class="flow__box--4-3"><code>.flow__box--4-3</code></div>
</div>




<h2><code>.flow--flex.vcenter--</code></h2>
<h3><code>[class*="flow__box"]</code></h3>
<div class="flow--flex vcenter--">
  <div class="flow__box--6-1"><code>.flow__box--6-1</code></div>
  <div class="flow__box--6-2"><code>.flow__box--6-2</code></div>
  <div class="flow__box--6-2"><code>.flow__box--6-2 + br<br><br><br></code></div>
  <div class="flow__box--6-1"><code>.flow__box--6-1</code></div>
</div>



</section>



{% endblock %}

