

/*
"lato"  		  weight style
Hairline	      100	normal
Hairline Italic	100 italic
Thin	          200	normal
Thin Italic	    200	italic
Light	          300	normal
Light Italic    300	italic
Regular	        400	normal
Italic	        400	italic
Medium	        500	normal

"courier-prime"
              weight style
Regular         400	normal
Italic          400	italic
Bold            700	normal
Bold Italic     700	italic
*/

body {
/*  font-family: "lato", sans-serif;*/
  font-family: "lato", sans-serif;
  padding: 50px;
  //background-color: gray;
    background-color: color(zack);
  font-size: 20px;
}
div {
  @include type(xxs);
}
section {

}
h1 {

}
p {
	font-size: 0.9em;

}
code, dfn, samp {
  font-family: "courier-prime", monospace;
}


#the-strong-element {
	font-size: 2em;
	margin-bottom: 0;
	padding-bottom: 0;
	line-height: 1.0;
}
#the-strong-element strong {
	font-weight: 700;
	//text-shadow: 0 0.5rem 1rem rgba(0,0,0,0.3);
}
#the-strong-element code {
	color: #D93B00;
	color: white;
}
#the-tag-line {


}
address {
  margin-top: 100px;

  font-size: 0.7em;
}

address a {
  color: black;
}



svg {
  width: 50vw;

}