
$red: #ff0044;
$lightgreen: #11b848;
$green: #009933;
$blue: #0066cc;
$white: #FFFFFF;
$purple: #440044;
$lightgrey: #cbcbcb;
$grey: #9c9c9c;
$black: #000000;
$brown: #aa8833;
$darkbrown: #220000;
$redorange: #ff0044;
$orange: #ff6600;
$yellow: #ffff33;
$olive: #555500;




$purple: #9255B5;
$pink: #EA508B;
$lightblue: #50B0EA;
$darkblue: #3881D5;
$green: #8CC876;
$aqua: #D8FFF6;
$red: #D81E17;
$brightred: #E80134;

@keyframes fade {
  0% { background-color: $red; }
  25% { background-color: $pink; }
  50% { background-color: $brightred; }
  75% { background-color: $orange; }
  100% { background-color: $red; }
}

html {
      font-size: 2vw;
  @media screen and (orientation:portrait) {
      font-size: 3vh;
  }
   @media screen and (orientation:landscape) {
      font-size: 2vw;
  }


}


body {
/*  font-family: "lato", sans-serif;*/
  font-family: sans-serif;
  padding: 0;
  margin: 0;
  background-color: white;

	animation-name: fade;
	animation-duration: 60s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
	animation-fill-mode: both;

}



article {
  height: calc(100vh - 100px);
  padding: 50px;
  display: flex;
  align-items: center;
}
section {
text-align: center;
color: white;
  flex: 1;
}
h1 {
  font-size: 1.5em;
}
p {
   @media screen and (min-width: 1024px) {
      width: 60%;
      margin-left: auto;
      margin-right: auto;
  }
}

.mark {
//  height: 100vh;

  text-align: center;
  svg {
    width: 100%;
   @media screen and (min-width: 1024px) {
      width: 80%;

  }
  }
  path {
   // fill: white;
  }
}
address {
  font-style: normal;
  font-weight: bold;
  font-size: 1.2em;
}
a {
  color: white;
  text-decoration: none;
  white-space: nowrap;
  position: relative;
  &:hover {
    text-decoration: none;
    .hand__ {
      transform: rotate(20deg);

    }
  }
  .hand__ {
       display: inline-block;
      position: absolute;
      right: -3ch;
  }
  .text__ {
    font-size: 1rem;
    border-bottom: solid 0.1ch white;
  }
}
